@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --header-height: 3rem
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--body-bg)
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--body-text-color);
    text-align: left;
    background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

/* Navbar */
.header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: var(--container-color);
}

.nav__link {
    display: absolute;
    align-items: center;
    padding: .5rem 1rem;
    background: transparent;
    border: 0;
    text-align: center;
    flex-shrink: 0;

}

.nav__link:hover,
.nav__link:focus {
    text-decoration: none;
    color: var(--plyr-color-main);
}

.nav__link--disabled {
    color: #6f6f81;
    pointer-events: none;
    cursor: default;
}

.nav--menu {
    align-items: center;
    flex-wrap: initial
}

a {
    color: var(--text-color);
    text-decoration: none;
    background-color: transparent;
    font-size: 1.14rem;
}

a:hover {
    text-decoration: none;
}

.align-items-center {
    align-items: center !important;
}

.logo {
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 25rem 0 0;
}

.logo span {
    color: var(--main-color);
    text-decoration: none;
}


/* importante text */
.hero-background-view {
    padding: 5rem;
}

.hero-background-view {
    position: relative;
}

.hero-img-front {
    position: absolute;
    margin-left: 6.7rem;
    top: 23rem;

}

p::selection {
    background: var(--plyr-color-main);
}

h1::selection {
    background: var(--plyr-color-main);
}

h2::selection {
    background: var(--plyr-color-main);
}
span::selection {
    background: var(--plyr-color-main);
}
br::selection {
    background: var(--plyr-color-main);
}
div::selection {
    background: var(--plyr-color-main);
}
time::selection {
    background: var(--plyr-color-main);
}
a::selection {
    background: var(--plyr-color-main);
}
.hero-title {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 16rem;
    padding-top: 17.6rem;
    text-shadow: 4px 1px black;
}

.hero-title span {
    color: red;
}

.hero-text {
    position: relative;
    color: var(--icons-color);
    max-width: 48rem;
    padding-left: 15rem;
    top: -2.7rem;
    font-size: 0.869rem;
    text-transform: uppercase;
}

.hero-year {
    position: relative;
    font-size: 0.875rem;
    padding-left: 16rem;
    top: 81px;
    color: var(--text-color);
}

a.tag-hero {
    font-size: 0.985rem;
}

.hero-tags {
    position: relative;
    font-size: 1rem;
    margin-left: 16rem;
    top: 74px
}

.tag-hero {
    top: 15rem;
    padding-bottom: 15rem;
}

.hero-about {
    margin-left: 1rem;
}

.overflow-hidden {
    overflow: hidden !important;
}

:root {
    --body-bg: #060613;
    --body-bg-rgb: 6, 6, 19;
    --body-alt-bg: #242432;
    --main-color: #6441a5;
    --hover-color: hsl(261, 53%, 76%);
    --hover-color1: hsla(15, 53%, 76%, 0.932);
    --body-color: #1a1a1a;
    --container-color: #28282e;
    --text-color: #f1f1f1;
    --texte-inverse-color: #000000;
    --icons-color: #b7b7b7;
    --star-color: #D4AF37;
    --plyr-color-main: #815fc0;
    --grid-margin: 1rem;
    --header-height: 3rem
}

.c-media-hero__background {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    left: 15%;
    top: 7.4%;
    bottom: -18%;
}

/* Video Container */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: hsl(234 10% 20% / 60%);
    z-index: 400;
}

.video-container.show-anime {
    display: flex;
}

.video-box {
    position: relative;
    width: 72%
}

.video-box #animetrailer {
    width: 100%;
    aspect-ratio: 16/9;
}

.video-box #animevideo {
    width: 100%;
    aspect-ratio: 16/9;
}

.close-video {
    position: absolute;
    top: -3rem;
    right: 0;
    font-size: 40px;
    color: var(--main-color);
}

/* Play Anime */
.play-anime {
    position: absolute;
    bottom: 0.067rem;
    right: 100.5rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 45px;
    border-radius: 7%;
    color: var(--text-color);
    background: var(--main-color);
    font-size: 24px;
    animation: animate 2s linear infinite;
    cursor: pointer;
}

.hero-play .bx {
    font-weight: 400;
    font-size: 2.5rem;
}

.bx:hover {
    background: var(--hover-color);
}

.close-video {
    position: absolute;
    right: 3px;
    top: 1px;
}

/* Video hero */
.video-hero {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 75rem;
    top: 20rem;
    width: 30%;
    height: 50vh;
}

.hero-box #hero-trailer {
    width: 100%;
    aspect-ratio: 16/9;
}

@keyframes animation-slideshow-slide-1of3 {
    0% {
        opacity: 1
    }

    33% {
        opacity: 0
    }

    66% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes animation-slideshow-slide-2of3 {
    0% {
        opacity: 0
    }

    33% {
        opacity: 1
    }

    66% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes animation-slideshow-slide-3of3 {
    0% {
        opacity: 0
    }

    33% {
        opacity: 0
    }

    66% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.slideshow {
    --duration: 8s
}

.slideshow .slideshow-slide {
    opacity: 0
}

.slideshow .slideshow-slide:nth-child(1) {
    opacity: 1
}

.slideshow.is-playing .slideshow-slide:nth-child(1) {
    animation: animation-slideshow-slide-1of3 var(--duration) infinite
}

.slideshow.is-playing .slideshow-slide:nth-child(2) {
    animation: animation-slideshow-slide-2of3 var(--duration) infinite
}

.slideshow.is-playing .slideshow-slide:nth-child(3) {
    animation: animation-slideshow-slide-3of3 var(--duration) infinite
}

.slideshow--fast {
    --duration: 4s
}

.slideshow--slow {
    --duration: 16s
}

.abs {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-hero-fade {
    background: radial-gradient(farthest-side at 90% 5%, transparent 0%, RGBA(var(--body-bg-rgb), 0) 30%, var(--body-bg) 100%);
}

.h-full {
    height: 100% !important
}

.w-full {
    width: 100% !important
}

.w-50-percent {
    width: 50%
}

.w-75-percent {
    width: 77%
}

.h-50-percent {
    height: 50%
}

.h-75-percent {
    height: 75%
}

.min-w-0 {
    min-width: 0 !important
}

.min-h-0 {
    min-height: 0 !important
}

.h-screen {
    height: 100vh !important
}

.min-w-screen {
    min-width: 100vw !important
}

.min-h-screen {
    min-height: 100vh !important
}

.max-w-full {
    max-width: 100%
}